
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=DM+Serif+Display:ital@0;1&display=swap');

@font-face {
  font-family: "Founders Grotesk";
  src: url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Light.woff2") format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Regular.woff2") format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Medium.woff2") format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Semibold.woff2") format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Bold.woff2") format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.free-myopia-control-3-lenses{
  margin: 0;
  background-color: #FFEFEB;
  .free-myopia-control-3-lenses-container{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    @media screen and (min-width: 1272px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__main{
    h1{
      opacity: 0;
      position: absolute;
    }
    position: relative;
    img{
      width: 100%;
      aspect-ratio: 3/2;
      @media screen and (min-width: 768px) {
        aspect-ratio: 3/1;
      }
    }
    .button--primary-main{
      height: 53px;
      width: calc(153 / 390 * 100%);
      position: absolute;
      display: block;
      bottom: calc(30 / 390 * 100%);
      left: calc(16 / 390 * 100%);
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='153' height='28' fill='none' viewBox='0 0 153 28'%3E%3Cg class='main-button'%3E%3Cpath fill='%23B3DEE8' d='M0 14C0 6.268 6.268 0 14 0h125c7.732 0 14 6.268 14 14s-6.268 14-14 14H14C6.268 28 0 21.732 0 14Z'/%3E%3Cg class='Label'%3E%3Cpath fill='%23292929' d='M19.164 15.924c0 1.308-1.008 2.076-2.772 2.076h-3.78v-7.56h3.552c1.932 0 2.784.816 2.784 2.076 0 .84-.564 1.428-1.368 1.56.9.18 1.584.768 1.584 1.848Zm-3.048-1.056h-1.74v1.668h1.752c.804 0 1.176-.324 1.176-.828s-.372-.84-1.188-.84Zm-1.74-2.976V13.5h1.584c.792 0 1.104-.348 1.104-.792 0-.468-.312-.816-1.104-.816h-1.584Zm13.272 2.328c0 2.328-1.68 3.924-3.888 3.924-2.196 0-3.876-1.596-3.876-3.924s1.68-3.924 3.876-3.924c2.208 0 3.888 1.596 3.888 3.924Zm-1.872 0c0-1.404-.78-2.328-2.016-2.328-1.224 0-2.004.924-2.004 2.328s.78 2.328 2.004 2.328c1.236 0 2.016-.924 2.016-2.328Zm10.36 0c0 2.328-1.68 3.924-3.889 3.924-2.195 0-3.875-1.596-3.875-3.924s1.68-3.924 3.876-3.924c2.208 0 3.888 1.596 3.888 3.924Zm-1.873 0c0-1.404-.78-2.328-2.015-2.328-1.224 0-2.004.924-2.004 2.328s.78 2.328 2.004 2.328c1.236 0 2.016-.924 2.016-2.328ZM44.18 18h-2.184l-2.316-3.132-.708.756V18h-1.824v-7.56h1.824v3.204l2.916-3.204h2.1L41 13.68 44.18 18Zm5.359-7.56h2.028L54.615 18H52.67l-.648-1.632h-3.048L48.339 18h-1.824l3.024-7.56Zm.936 2.076L49.503 15h1.992l-.972-2.484h-.048ZM59.455 18h-1.812v-7.56h5.592v1.5h-3.78v1.68h2.868v1.488h-2.868V18Zm11.484 0h-1.848c-.156-.204-.252-.696-.312-1.5-.06-.852-.444-1.128-1.2-1.128h-1.524V18h-1.788v-7.56h3.648c1.956 0 2.916.912 2.916 2.364 0 1.116-.708 1.812-1.632 1.932.804.156 1.26.624 1.344 1.512.108 1.116.144 1.476.396 1.752Zm-4.884-4.032h1.572c.948 0 1.416-.276 1.416-1.02 0-.672-.468-1.044-1.416-1.044h-1.572v2.064ZM77.766 16.5V18h-5.832v-7.56h5.724v1.5h-3.936v1.488h3.06v1.476h-3.06V16.5h4.044Zm6.929 0V18h-5.832v-7.56h5.724v1.5H80.65v1.488h3.06v1.476h-3.06V16.5h4.044Zm9.205 0V18h-5.832v-7.56h5.724v1.5h-3.936v1.488h3.06v1.476h-3.06V16.5H93.9Zm4.36-3.144 1.765-2.916h1.956l-2.916 4.668V18H97.3v-2.892l-2.904-4.668h2.016l1.848 2.916Zm10.317 3.144V18h-5.832v-7.56h5.724v1.5h-3.936v1.488h3.06v1.476h-3.06V16.5h4.044Zm7.489 1.5h-1.812v-6.06h-2.628v-1.5h7.104v1.5h-2.664V18Zm9.512-1.5V18h-5.832v-7.56h5.724v1.5h-3.936v1.488h3.06v1.476h-3.06V16.5h4.044Zm.607-1.188 1.668-.06c.072 1.044.852 1.464 1.788 1.464.804 0 1.308-.312 1.308-.816s-.444-.624-1.104-.756l-1.416-.252c-1.2-.228-2.052-.9-2.052-2.184 0-1.488 1.164-2.412 3-2.412 2.052 0 3.168 1.02 3.204 2.7l-1.68.048c-.048-.888-.66-1.32-1.536-1.32-.768 0-1.2.312-1.2.828 0 .432.336.588.888.696l1.416.252c1.548.276 2.256 1.044 2.256 2.28 0 1.56-1.356 2.364-3.084 2.364-2.016 0-3.456-.996-3.456-2.832ZM137.567 18h-1.812v-6.06h-2.628v-1.5h7.104v1.5h-2.664V18Z' class='Label'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      &:hover{
        opacity: 0.8;
      }
      @media screen and (min-width: 768px) {
        left: calc(90 / 1440 * 100%);
        bottom: calc(51 / 390 * 100%);
        width: calc(322 / 1440 * 100%);
        height: calc(64 / 480 * 100%);
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='320' height='64' fill='none' viewBox='0 0 320 64'><path fill='%23B3DEE8' d='M0 32C0 14.327 14.327 0 32 0h256c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32H32C14.327 64 0 49.673 0 32Z'/><path fill='%23292929' d='M37.134 36.194c0 2.398-1.848 3.806-5.082 3.806h-6.93V26.14h6.512c3.542 0 5.104 1.496 5.104 3.806 0 1.54-1.034 2.618-2.508 2.86 1.65.33 2.904 1.408 2.904 3.388Zm-5.588-1.936h-3.19v3.058h3.212c1.474 0 2.156-.594 2.156-1.518s-.682-1.54-2.178-1.54Zm-3.19-5.456v2.948h2.904c1.452 0 2.024-.638 2.024-1.452 0-.858-.572-1.496-2.024-1.496h-2.904Zm24.332 4.268c0 4.268-3.08 7.194-7.128 7.194-4.026 0-7.105-2.926-7.105-7.194s3.08-7.194 7.105-7.194c4.048 0 7.128 2.926 7.128 7.194Zm-3.431 0c0-2.574-1.43-4.268-3.697-4.268-2.244 0-3.674 1.694-3.674 4.268s1.43 4.268 3.674 4.268c2.267 0 3.697-1.694 3.697-4.268Zm18.991 0c0 4.268-3.08 7.194-7.128 7.194-4.026 0-7.106-2.926-7.106-7.194s3.08-7.194 7.106-7.194c4.048 0 7.128 2.926 7.128 7.194Zm-3.432 0c0-2.574-1.43-4.268-3.696-4.268-2.244 0-3.674 1.694-3.674 4.268s1.43 4.268 3.674 4.268c2.266 0 3.696-1.694 3.696-4.268ZM82.996 40h-4.004l-4.246-5.742-1.298 1.386V40h-3.344V26.14h3.344v5.874l5.346-5.874h3.85l-5.478 5.94 5.83 7.92Zm9.825-13.86h3.718L102.127 40h-3.564l-1.188-2.992h-5.588L90.621 40h-3.344l5.544-13.86Zm1.716 3.806L92.755 34.5h3.652l-1.782-4.554h-.088ZM111.002 40h-3.322V26.14h10.252v2.75h-6.93v3.08h5.258v2.728h-5.258V40Zm21.053 0h-3.388c-.286-.374-.462-1.276-.572-2.75-.11-1.562-.814-2.068-2.2-2.068h-2.794V40h-3.278V26.14h6.688c3.586 0 5.346 1.672 5.346 4.334 0 2.046-1.298 3.322-2.992 3.542 1.474.286 2.31 1.144 2.464 2.772.198 2.046.264 2.706.726 3.212Zm-8.954-7.392h2.882c1.738 0 2.596-.506 2.596-1.87 0-1.232-.858-1.914-2.596-1.914h-2.882v3.784Zm21.47 4.642V40h-10.692V26.14h10.494v2.75h-7.216v2.728h5.61v2.706h-5.61v2.926h7.414Zm12.703 0V40h-10.692V26.14h10.494v2.75h-7.216v2.728h5.61v2.706h-5.61v2.926h7.414Zm16.875 0V40h-10.692V26.14h10.494v2.75h-7.216v2.728h5.61v2.706h-5.61v2.926h7.414Zm7.996-5.764 3.234-5.346h3.586l-5.346 8.558V40h-3.234v-5.302l-5.324-8.558h3.696l3.388 5.346Zm18.913 5.764V40h-10.692V26.14h10.494v2.75h-7.216v2.728h5.61v2.706h-5.61v2.926h7.414Zm13.73 2.75h-3.322V28.89h-4.818v-2.75h13.024v2.75h-4.884V40Zm17.438-2.75V40h-10.692V26.14h10.494v2.75h-7.216v2.728h5.61v2.706h-5.61v2.926h7.414Zm1.113-2.178 3.058-.11c.132 1.914 1.562 2.684 3.278 2.684 1.474 0 2.398-.572 2.398-1.496s-.814-1.144-2.024-1.386l-2.596-.462c-2.2-.418-3.762-1.65-3.762-4.004 0-2.728 2.134-4.422 5.5-4.422 3.762 0 5.808 1.87 5.874 4.95l-3.08.088c-.088-1.628-1.21-2.42-2.816-2.42-1.408 0-2.2.572-2.2 1.518 0 .792.616 1.078 1.628 1.276l2.596.462c2.838.506 4.136 1.914 4.136 4.18 0 2.86-2.486 4.334-5.654 4.334-3.696 0-6.336-1.826-6.336-5.192ZM254.205 40h-3.322V28.89h-4.818v-2.75h13.024v2.75h-4.884V40Z'/><g clip-path='url(%23a)'><path stroke='%23000' stroke-linecap='square' stroke-width='2' d='m284 40 8-8-8-8'/></g><defs><clipPath id='a'><path fill='%23fff' d='M272 16h32v32h-32z'/></clipPath></defs></svg>");
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
      }
      span{
        opacity: 0;
      }
    }
  }

  &__about{
    padding-top: 40px;
    padding-bottom: 30px;
    h2{
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 16px;
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-style: normal;
      color: #6D4335;
      margin-top: 0px;
      @media screen and (min-width: 1024px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    p{
      font-size: 16px;
      font-family: "Founders Grotesk", sans-serif;
      color: #6D4335;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0;
      @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 36px;
      }
    }
    ul{
      list-style: none;
      padding-left: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 12px;
      li{
        background-color: #B3DEE8;
        color:#6D4335;
        border-radius: 50px;
        padding: 0 20px;
        font-size: 12px;
        font-family: "Founders Grotesk", sans-serif;
        color: #6D4335;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: 0;
        max-width: fit-content;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 1024px) {
          font-size: 16px;
          height: 36px;
          gap: 12px;
        }
      }
      @media screen and (min-width: 1240px) {
        margin-bottom: 0px;
      }
    }
    &__content{
      @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 8px;
        >div{
          &:nth-child(2){
            grid-row: auto;
          }
        }
      }
      @media screen and (min-width: 1240px) {
        column-gap: 48px;
        grid-template-columns: 674px 1fr;
        >div{
          &:nth-child(2){
            grid-row: auto;
          }
        }
      }
    }
    @media screen and (min-width: 1024px) {
      padding-top: 80px;
      padding-bottom: 40px;
    }
  }

  &__benefits{
    padding-top: 40px;
    padding-bottom: 40px;
    h2{
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 16px;
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-style: normal;
      color: #6D4335;
      letter-spacing: 0;
      margin-top: 0;
      @media screen and (min-width: 1024px) {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
      }
    }
    &__list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 8px;
      flex-direction: column;
      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
      @media screen and (min-width: 1024px) {
        margin-top: 48px;
        gap: 40px;
      }
      &-item{
        background-color: #FFFDF3;
        border-radius: 12px;
        padding:16px 8px;
        color: #6D4335;
        font-size: 14px;
        font-family: "Founders Grotesk", sans-serif;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: 0;
        @media screen and (min-width: 1024px) {
          font-size: 22px;
          line-height: 24px;
          padding: 32px;
          padding-top: 16px;
          border-radius: 16px;
        }
        p{
          margin-top: 0px;
          margin-bottom: 0;
          align-self: center;
        }
        img{
          margin-left: auto;
          margin-right: auto;
          display: block;
          aspect-ratio: 1/1;
          @media screen and (min-width: 768px) {
            margin-left: 0;
            margin-right: 0;
          }
        }
        &:nth-child(3){
          grid-column: span 2 / span 2;
          display: grid;
          grid-template-columns: 80px 1fr;
          gap:11px;
          padding:8px;
          @media screen and (min-width: 768px) {
            grid-column: auto;
            grid-row: auto;
            grid-template-columns: auto;
          }
          @media screen and (min-width: 1024px) {
            font-size: 22px;
            line-height: 24px;
            padding: 32px;
            padding-top: 16px;
            gap:0px;
            br{
              display: none;
            }
          }
        }
      }
    }
  }
  &__importance{
    padding-top: 40px;
    padding-bottom: 40px;
    h2{
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 16px;
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-style: normal;
      color: #6D4335;
      letter-spacing: 0;
      margin-top: 24px;
      @media screen and (min-width: 1024px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    p{
      font-size: 16px;
      font-family: "Founders Grotesk", sans-serif;
      color: #6D4335;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0;
      margin-top: 14px;
      @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 36px;
      }
    }
    img{
      display: block;
      width: 100%;
      aspect-ratio: 518/311;
    }
    &__item{
      span{
        position: relative;
        font-size: 12px;
        top: -8px;
      }
      @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px;
        &:nth-child(2){
          >div{
            order: 2;
          }
          >div:nth-child(2){
            order: 1;
          }
        }
      }
      @media screen and (min-width: 1240px) {
        h2{
          margin-top: 0px;
          margin-bottom: 16px;
        }
        grid-template-columns: 674px 1fr;
        &:nth-child(1){
          grid-template-columns: 1fr 674px;
        }
      }
    }
    &__item + &__item{
      margin-top: 45px;
      @media screen and (min-width: 1240px) {
        margin-top: 56px;
      }
    }
  }

  &__recommended{
    padding-top: 40px;
    img{
      display: block;
      width: 100%;
    }
    h2{
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 16px;
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-style: normal;
      color: #6D4335;
      letter-spacing: 0;
      margin-top: 32px;
      @media screen and (min-width: 1024px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    p{
      font-size: 16px;
      font-family: "Founders Grotesk", sans-serif;
      color: #6D4335;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0;
      margin-top: 24px;
      @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 36px;
      }
    }
    &__content{
      border-radius: 24px;
      background-color: #fff;
      padding: 8px;
      @media screen and (min-width: 768px) {
        padding: 40px 40px;
      }
      @media screen and (min-width: 1024px) {
        padding: 80px 40px;
        border-radius: 32px;
      }
      &-banner{
        @media screen and (min-width: 768px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
          >div{
            &:nth-child(1){
              order: 2;
            }
            &:nth-child(2){
              order: 1;
              h2{
                margin-top: 0;
              }
            }
          }
        }
      }
      &-products{
        margin-top: 56px;
        @media screen and (min-width: 768px) {
          margin-top: 40px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 40px;
        }
        > div + div{
          margin-top: 40px;
          @media screen and (min-width: 768px) {
            margin-top: 0;
          }
        }
        h3{
          text-align: center;
          font-size: 20px;
          font-family: "Founders Grotesk", sans-serif;
          color: #6D4335;
          line-height: 20px;
          font-weight: 400;
          letter-spacing: 0;
          margin-top: 16px;
          margin-bottom: 0;
        }

        img{
          aspect-ratio: 15/8;
        }
      }
      &-buttons{
        margin-top: 56px;
        @media screen and (min-width: 768px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 12px;
          max-width: fit-content;
          margin-left: auto;
          margin-right: auto;
        }
        @media screen and (min-width: 1240px) {
          gap: 64px;
          .button--primary{
            width: 362px !important;
            max-width: 362px !important;
          }
        }
      }
      .button--primary + .button--primary{
        margin-top: 12px;
        @media screen and (min-width: 768px) {
          margin-top: auto;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
    &__logo{
      display: block;
      width: 156.5px;
      margin-top: 24px;
      aspect-ratio: 461/64;
      @media screen and (min-width: 1024px) {
        width: 461px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
  }

  &__cta{
    padding-top: 48px;
    ul{
      list-style: none;
      padding-left: 0px;
      margin-top: 0px;
      li{
        display: flex;
        gap: 2px;
        font-size: 12px;
        font-family: "Founders Grotesk", sans-serif;
        color: #6D4335;
        font-weight: 400;
        @media screen and (min-width: 768px) {
          line-height: 35px;
          font-size: 16px;
          line-height: 36px;
        }
      }
    }
  }

  .button--primary{
    background-color: #B3DEE8;
    color: #000;
    font-size: 16px;
    font-family: "Founders Grotesk", sans-serif;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0;
    padding: 14px 20px;
    border-radius: 50px;
    text-decoration: none;
    width: auto;
    display: block;
    text-align: center;
    margin-top: 24px;
    @media screen and (min-width: 768px) {
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
      padding: 14px 49px;
      margin-top: 40px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 22px;
      padding-top: 22px;
      padding-bottom: 22px;
      margin-top: 48px;
    }
    span{
      position: relative;
      max-width: fit-content;
      padding-right: 30px;
      &:before{
        content: '';
        position: absolute;
        right: 0;
        width: 9px;
        top:2px;
        height: 15px;
        height: 100%;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" fill="none" viewBox="0 0 9 15"><path stroke="black" stroke-linecap="square" stroke-width="2.1" d="m1.484 13.484 6-6-6-6"/></svg>');
        background-repeat: no-repeat;
        @media screen and (min-width: 1024px) {
          top:6px;
        }
      }
    }
    &:hover{
      opacity: 0.8;
    }
  }

  .button--primary-back{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-family: "Founders Grotesk", sans-serif;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0;
    padding: 14px 20px;
    border-radius: 50px;
    text-decoration: none;
    width: auto;
    display: block;
    text-align: center;
    margin-top: 24px;
    span{
      position: relative;
      max-width: fit-content;
      padding-right: 25px;
      &:before{
        content: '';
        position: absolute;
        right: 0;
        width: 9px;
        top:2px;
        height: 15px;
        height: 100%;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" fill="none" viewBox="0 0 8 13"><path stroke="white" stroke-linecap="square" stroke-width="1.75" d="m1.238 11.238 5-5-5-5"/></svg>');
        background-repeat: no-repeat;
        background-size: 8px;
      }
    }
    &:hover{
      opacity: 0.8;
    }
    @media screen and (min-width: 1240px) {
      font-size: 14px;
    }
  }

  .meaning__vdo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -o-object-fit: cover;
      object-fit: cover;
    border-radius: 10.13px;
    @media screen and (min-width: 768px) {
      border-radius: 16px;
    }
  }

  .meaning__vdo-cover {
    position: absolute;
    border-radius: 10.13px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .3);
    @media screen and (min-width: 768px) {
      position: static;
      height: fit-content;
      border-radius: 16px;
    }
  }

  .meaning__vdo-container {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-top: 55.85%;
    margin-top: 30px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      margin-top: 0px;
      margin-bottom: 0px;
      height: fit-content;
      padding-top: 56.85%;
    }
  }

  .meaning__vdo-container:hover::before {
    background-color: transparent;
    opacity: 0.8;
  }

  .meaning__vdo-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: url("https://assets.lenskart.com/images/2026/03/25/icon-play.png") no-repeat center center;
    /* Use your play button image */
    background-size: contain;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    @media screen and (min-width: 1024px) {
      width: 160px;
      height: 160px;
    }
  }
  .meaning__playing {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-top: 55.85%;
    margin-top: 30px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      margin-top: 0px;
      margin-bottom: 0px;
      height: fit-content;
      padding-top: 56.85%;
    }
  }

  .meaning__playing::before {
    display: none !important;
  }
}