@keyframes appear {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
 @keyframes scaleIn {
	 0% {
		 opacity: 0;
		 transform: scale(0.5);
	}
	 100% {
		 opacity: 1;
		 transform: scale(1);
	}
}
 @keyframes scaleOut {
	 0% {
		 opacity: 1;
		 transform: scale(1);
	}
	 100% {
		 opacity: 0;
		 transform: scale(0.5);
	}
}
 @keyframes slideInFromRight {
	 0% {
		 opacity: 0;
		 transform: translateX(-30px);
	}
	 100% {
		 opacity: 1;
		 transform: translateX(0);
	}
}
 @keyframes fadeIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
 @keyframes fadeOut {
	 0% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0;
	}
}
 @keyframes fadeInUp {
	 0% {
		 opacity: 0;
		 transform: translateY(20px);
	}
	 100% {
		 opacity: 1;
		 transform: translateY(0);
	}
}
 @keyframes fadeInFromRight {
	 0% {
		 opacity: 0;
		 transform: translateX(-20px);
	}
	 100% {
		 opacity: 1;
		 transform: translateX(0);
	}
}
 @keyframes fadeOutToLeft {
	 0% {
		 opacity: 1;
		 transform: translateX(0);
	}
	 100% {
		 opacity: 0;
		 transform: translateX(20px);
	}
}
 @keyframes fadeOutDown {
	 0% {
		 opacity: 1;
		 transform: translateY(0);
	}
	 100% {
		 opacity: 0;
		 transform: translateY(20px);
	}
}
 @keyframes slideOutToLeft {
	 0% {
		 opacity: 1;
		 transform: translateX(0);
	}
	 100% {
		 opacity: 0;
		 transform: translateX(-30px);
	}
}
 .char {
	 display: inline-flex;
	 font-style: normal;
	 opacity: 0;
	 translate: 0 100%;
	 transition: opacity 0.2s ease, translate 0.2s ease;
	 font: inherit;
}
 .char.aos-animate {
	 opacity: 1;
	 translate: 0;
}
 .the-one {
	 font: 400 14px/210% 'Founders Grotesk', sans-serif;
	 letter-spacing: 0.56px;
	 overflow-x: clip;
	 position: relative;
	 color: #000;
}
 .the-one img {
	 pointer-events: none;
}
 .the-one__container {
	 padding-inline: 20px;
	 margin-inline: auto;
	 width: 100%;
	 max-width: calc(1220px + 40px);
}
 .the-one__btn {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 font: 100 14px/100% Helvetica, sans-serif;
	 letter-spacing: 0.28px;
	 width: 100%;
	 height: 45px;
	 border-radius: 10px;
	 background: #292929 url('https://static.lenskart.com/owndays/img/news/the-one/icon-arrow.svg') no-repeat right 28px center/17.5px auto;
	 color: #fff;
	 text-decoration: none;
	 cursor: pointer;
	 transition: background-color 0.3s ease;
}
 .the-one__btn:hover, .the-one__btn:focus {
	 color: #fff;
	 text-decoration: none;
}
 @media screen and (min-width: 768px) {
	 .the-one__btn:hover {
		 background-color: #535353;
	}
}
 @media screen and (min-width: 1024px) {
	 .the-one__btn {
		 height: 50px;
	}
}
 .the-one__scroller {
	 background-color: #f6f6f6;
	 position: relative;
	 z-index: 1;
	 margin-top: calc(100vh - 64px);
}
 .the-one__scroller-inner {
	 max-width: 1280px;
	 margin-inline: auto;
	 position: relative;
	 border-left: 1px solid #c0c0c0;
}
 @media screen and (min-width: 768px) {
	 .the-one__scroller-inner {
		 position: relative;
	}
	 .the-one__scroller-indicator {
		 position: absolute;
		 top: 0;
		 left: 0;
		 width: 2px;
		 height: 100%;
		 z-index: 1;
		 translate: -50% 0;
	}
	 .the-one__scroller-indicator-line {
		 position: absolute;
		 top: 0;
		 left: 0;
		 width: 100%;
		 height: 100%;
		 transform: translateY(-100%);
		 transition: transform 0.1s ease-out;
	}
	 .the-one__scroller-indicator-line::after {
		 content: '';
		 position: absolute;
		 bottom: 0;
		 left: 0;
		 width: 100%;
		 height: 300px;
		 background-color: #000;
		 translate: 0 100%;
	}
}
 .the-one__main {
	 position: fixed;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 z-index: 0;
	 background: url('https://static.lenskart.com/owndays/img/news/the-one/main-sp.webp') no-repeat center top / cover;
}
 .the-one__main-logo {
	 font: 0/0 a;
	 position: absolute;
	 margin: 0;
	 text-align: center;
}
 .the-one__main-logo img {
	 width: 100%;
	 max-width: 216px;
	 margin-inline: auto;
	 aspect-ratio: 3.1636363636;
}
 @media screen and (max-width: 767px) {
	 .the-one__main-logo {
		 left: 0;
		 right: 0;
		 bottom: 133px;
	}
}
 @media screen and (min-width: 768px) {
	 .the-one__main {
		 background-image: url('https://static.lenskart.com/owndays/img/news/the-one/main-pc.webp');
	}
	 .the-one__main-logo {
		 top: 50%;
		 left: calc(50% + calc(215px / 2));
		 translate: 0 -50%;
	}
}
 @media screen and (min-width: 1024px) {
	 .the-one__main-logo {
		 left: calc(50vw + 15vw);
	}
	 .the-one__main-logo img {
		 max-width: 248px;
	}
}
 @media screen and (min-width: 1440px) {
	 .the-one__main-logo img {
		 max-width: 348px;
	}
}
 .the-one__concept {
	 padding-block: 90px 100px;
}
 .the-one__concept-content {
	 position: relative;
	 z-index: 1;
	 display: flex;
	 flex-direction: column;
	 gap: 90px;
}
 .the-one__concept-text-container {
	 display: flex;
	 flex-direction: column;
	 gap: 40px;
}
 .the-one__concept-title {
	 margin: 0;
	 font: 300 36px/135% Helvetica, sans-serif;
	 letter-spacing: 0.72px;
}
 .the-one__concept-text {
	 margin: 0;
	 font-size: 14px;
	 font-weight: 400;
	 line-height: 210%;
	 letter-spacing: 0.56px;
}
 .the-one__concept-img {
	 aspect-ratio: 1;
	 max-width: calc(100% - 175px);
}
 .the-one__concept-media {
	 display: flex;
	 flex-direction: column;
	 gap: 40px;
}
 .the-one__concept-media-img {
	 aspect-ratio: 1.1952191235;
	 max-width: calc(100% - 50px);
	 margin-inline: auto -20px;
}
 .the-one__concept-media-video {
	 aspect-ratio: 1.7777777778;
	 width: calc(100% - (23px * 2));
	 margin-inline: auto;
}
 @media screen and (max-width: 767px) {
	 .the-one__concept-text-container {
		 padding-inline: 20px;
	}
	 .the-one__concept-img {
		 margin-left: 9px;
	}
	 .the-one__concept-media {
		 margin-top: -33px;
	}
}
 @media screen and (min-width: 768px) {
	 .the-one__concept-content {
		 flex-direction: row;
		 align-items: flex-start;
		 justify-content: flex-end;
		 gap: calc(100px / 2);
		 margin-bottom: calc(106px / 2);
	}
	 .the-one__concept-text-container {
		 max-width: 652px;
	}
	 .the-one__concept-img {
		 max-width: 373px;
	}
	 .the-one__concept-media-img {
		 aspect-ratio: 1.3365853659;
	}
}
 @media screen and (min-width: 1024px) {
	 .the-one__concept {
		 padding-block: 150px 280px;
	}
	 .the-one__concept-content {
		 gap: 100px;
		 margin-bottom: 106px;
	}
	 .the-one__concept-text-container {
		 gap: 50px;
	}
	 .the-one__concept-title {
		 font-size: 50px;
		 letter-spacing: 1px;
	}
	 .the-one__concept-text {
		 font-size: 16px;
		 letter-spacing: 0.64px;
	}
	 .the-one__concept-img {
		 margin-top: 25px;
		 margin-right: 16px;
	}
	 .the-one__concept-media {
		 gap: 75px;
	}
	 .the-one__concept-media-img {
		 max-width: 822px;
		 margin-right: -110px;
	}
	 .the-one__concept-media-video {
		 width: 100%;
		 max-width: 873px;
	}
}
 .the-one__lineup {
	 padding-block: 100px 160px;
	 position: relative;
}
 .the-one__lineup::before {
	 content: '';
	 position: absolute;
	 inset: 0 -1000% 0 0;
	 border-block: 1px solid #c0c0c0;
}
 .the-one__lineup-title {
	 font: 300 36px/150% Helvetica, sans-serif;
	 margin: 0 0 55px;
	 letter-spacing: 1.8px;
}
 .the-one__lineup-models {
	 display: flex;
	 flex-direction: column;
	 gap: 100px;
}
 .the-one__lineup-model {
	 position: relative;
}
 .the-one__lineup-model-title {
	 font: 300 16px/100% Helvetica, sans-serif;
	 margin: 0;
	 letter-spacing: 0.8px;
}
 .the-one__lineup-model-top {
	 display: flex;
	 flex-direction: column;
	 gap: 50px;
	 margin-block: -126px 110px;
}
 .the-one__lineup-model-img {
	 aspect-ratio: 1.528150134;
}
 .the-one__lineup-model-text {
	 font-size: 14px;
	 font-weight: 400;
	 line-height: 210%;
	 letter-spacing: 0.56px;
	 margin: 0;
}
 .the-one__lineup-model-products {
	 display: flex;
	 flex-direction: column;
}
 .the-one__lineup-model-product {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 gap: 20px;
	 cursor: pointer;
}
 .the-one__lineup-model-product-top {
	 position: relative;
}
 .the-one__lineup-model-product--OH2001B-5A {
	 margin-left: 26px;
	 margin-right: 51px;
}
 .the-one__lineup-model-product--OH2001B-5A .the-one__lineup-model-number {
	 left: calc(100% + 13px);
	 bottom: 0;
}
 .the-one__lineup-model-product--OH2001B-5A .the-one__lineup-model-info {
	 margin-left: 22px;
}
 .the-one__lineup-model-product--OH2002B-5A {
	 margin-left: 74px;
	 margin-right: 3px;
}
 .the-one__lineup-model-product--OH2002B-5A .the-one__lineup-model-number {
	 top: calc(100% + 15px);
	 left: 0;
}
 .the-one__lineup-model-product--OH2002B-5A .the-one__lineup-model-info {
	 margin-inline: auto 30px;
	 text-align: right;
}
 .the-one__lineup-model-product--OH2002B-5A .the-one__lineup-model-colors {
	 justify-content: flex-end;
}
 .the-one__lineup-model-product--OH1003S-5A {
	 margin-left: 43px;
	 margin-right: 34px;
}
 .the-one__lineup-model-product--OH1003S-5A .the-one__lineup-model-number {
	 top: calc(100% + 15px);
	 right: 0;
}
 .the-one__lineup-model-product--OH1004S-5A {
	 margin-left: 97px;
	 margin-right: -20px;
}
 .the-one__lineup-model-product--OH1004S-5A .the-one__lineup-model-number {
	 right: calc(100% + 13px);
	 bottom: 0;
}
 .the-one__lineup-model-product--OH1004S-5A .the-one__lineup-model-info {
	 margin-left: 24px;
}
 .the-one__lineup-model-thumb {
	 aspect-ratio: 0.7912621359;
}
 .the-one__lineup-model-number {
	 position: absolute;
	 font: 300 11px/13px Helvetica, sans-serif;
	 letter-spacing: 5px;
}
 .the-one__lineup-model-info {
	 display: flex;
	 flex-direction: column;
	 white-space: nowrap;
}
 .the-one__lineup-model-code {
	 font: 400 16px/18px Helvetica, sans-serif;
	 margin: 0 0 6px;
	 letter-spacing: 0.32px;
}
 .the-one__lineup-model-type {
	 font: 300 12px/14px Helvetica, sans-serif;
	 margin: 0 0 15px;
	 letter-spacing: 0.24px;
}
 .the-one__lineup-model-colors {
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 display: flex;
	 gap: 6px;
}
 .the-one__lineup-model-color {
	 display: flex;
	 width: 10px;
	 height: 10px;
	 font: 0/0 a;
}
 .the-one__lineup-model-expanded {
	 position: fixed;
	 inset: 0;
	 z-index: 9999;
	 background-color: #fff;
	 overflow: hidden;
	 display: grid;
	 grid-template-columns: 1fr;
	 grid-template-rows: 1fr auto;
	 animation: scaleIn 0.3s ease-out forwards;
}
 .the-one__lineup-model-expanded.closing {
	 animation: scaleOut 0.3s ease-in 0.3s forwards;
}
 .the-one__lineup-model-expanded.closing .slick-navs, .the-one__lineup-model-expanded.closing .slick-count {
	 animation: fadeOut 0.3s ease both;
}
 .the-one__lineup-model-expanded.closing .the-one__lineup-model-expanded-title {
	 animation: fadeOut 0.3s ease both;
}
 .the-one__lineup-model-expanded.closing .the-one__lineup-model-expanded-info .the-one__btn {
	 animation: fadeOutDown 0.3s ease both;
}
 .the-one__lineup-model-expanded.closing .the-one__lineup-model-expanded-info-top {
	 animation: slideOutToLeft 0.3s ease both;
}
 .the-one__lineup-model-expanded .slick-slider, .the-one__lineup-model-expanded .slick-list, .the-one__lineup-model-expanded .slick-track, .the-one__lineup-model-expanded .slick-slide, .the-one__lineup-model-expanded .slick-slide * {
	 height: 100%;
}
 .the-one__lineup-model-expanded .slick-img {
	 aspect-ratio: 0.7912621359;
	 width: 100%;
	 object-fit: cover;
}
 .the-one__lineup-model-expanded .slick-navs {
	 display: flex;
	 gap: 13px;
	 position: absolute;
	 right: 82px;
	 bottom: 20px;
	 animation: fadeIn 0.3s ease 0.6s both;
	 height: fit-content;
	 margin-top: auto;
}
 .the-one__lineup-model-expanded .slick-nav {
	 font: 0/0 a;
	 display: flex;
	 width: 18px;
	 height: 21px;
	 background-color: transparent;
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: center center;
	 border: none;
	 outline: none;
	 padding: 0;
	 margin: 0;
	 cursor: pointer;
}
 .the-one__lineup-model-expanded .slick-nav--prev {
	 background-image: url('https://static1.lenskart.com/owndays/img/news/the-one/arrow-prev.svg');
}
 .the-one__lineup-model-expanded .slick-nav--next {
	 background-image: url('https://static1.lenskart.com/owndays/img/news/the-one/arrow-next.svg');
}
 .the-one__lineup-model-expanded .slick-count {
	 font: 300 12px/14px Helvetica, sans-serif;
	 margin: 0;
	 letter-spacing: 5px;
	 position: absolute;
	 right: 27px;
	 bottom: 22px;
	 animation: fadeIn 0.3s ease 0.6s both;
	 height: fit-content;
	 margin-top: auto;
}
 .the-one__lineup-model-expanded-top {
	 position: relative;
	 width: 100%;
	 overflow: hidden;
}
 .the-one__lineup-model-expanded-title {
	 position: absolute;
	 top: 0;
	 left: 15px;
	 writing-mode: vertical-lr;
	 display: flex;
	 align-items: center;
	 gap: 10px;
	 font: 300 12px/16px Helvetica, sans-serif;
	 margin: 26px 0 0;
	 letter-spacing: 0.6px;
	 z-index: 1;
	 animation: fadeIn 0.3s ease 0.6s both;
}
 .the-one__lineup-model-expanded-title::before {
	 content: '';
	 display: flex;
	 flex-shrink: 0;
	 width: 9px;
	 height: 9px;
	 border-radius: 10rem;
	 background-color: #000;
}
 .the-one__lineup-model-expanded-close {
	 position: absolute;
	 top: 37px;
	 right: 30px;
	 font: 0/0 a;
	 margin: 0;
	 border: none;
	 background-color: transparent;
	 outline: none;
	 cursor: pointer;
	 z-index: 1;
	 width: 20px;
	 height: 20px;
	 background: url('https://static.lenskart.com/owndays/img/news/the-one/btn_close.svg') no-repeat center center/contain;
}
 .the-one__lineup-model-expanded-info {
	 flex-shrink: 0;
	 display: flex;
	 flex-direction: column;
	 gap: 38px;
	 padding: 45px 40px;
	 flex-grow: 0;
	 flex-shrink: 0;
}
 .the-one__lineup-model-expanded-info .the-one__btn {
	 animation: fadeInUp 0.3s ease 0.6s both;
}
 .the-one__lineup-model-expanded-info-top {
	 display: flex;
	 justify-content: space-between;
	 animation: slideInFromRight 0.3s ease 0.6s both;
	 align-items: flex-end;
}
 .the-one__lineup-model-expanded-info-left {
	 display: flex;
	 flex-direction: column;
}
 .the-one__lineup-model-expanded-code {
	 font: 400 16px/18px Helvetica, sans-serif;
	 margin: 0 0 6px;
	 letter-spacing: 0.32px;
}
 .the-one__lineup-model-expanded-type {
	 font: 300 12px/14px Helvetica, sans-serif;
	 margin: 0 0 15px;
	 letter-spacing: 0.24px;
}
 .the-one__lineup-model-expanded-price {
	 font: 300 12px/14px Helvetica, sans-serif;
	 margin: 0;
	 letter-spacing: 0.24px;
	 color: #7c7c7c;
}
 .the-one__lineup-model-expanded-colors {
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 display: flex;
	 gap: 10px;
}
 .the-one__lineup-model-expanded-color {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 22px;
	 height: 22px;
	 border: 1px solid transparent;
	 border-radius: 5px;
	 cursor: pointer;
}
 .the-one__lineup-model-expanded-color-hex {
	 display: flex;
	 width: 12px;
	 height: 12px;
}
 .the-one__lineup-model-expanded-color-name {
	 font: 300 12px/100% Helvetica, sans-serif;
	 letter-spacing: 0.24px;
	 display: none;
}
 .the-one__lineup-model-expanded-color.active {
	 border-color: #000;
}
 @media screen and (max-width: 767px) {
	 .the-one__lineup-model-title--pc {
		 display: none;
		 visibility: hidden;
		 opacity: 0;
	}
	 .the-one__lineup-model-title--sp {
		 position: sticky;
		 top: 74px;
		 left: 0;
		 writing-mode: vertical-lr;
		 display: flex;
		 align-items: center;
		 gap: 10px;
		 translate: -50% 0%;
		 min-height: 166px;
	}
	 .the-one__lineup-model-title--sp::before {
		 content: '';
		 display: flex;
		 flex-shrink: 0;
		 width: 9px;
		 height: 9px;
		 border-radius: 10rem;
		 background-color: #000;
	}
	 .the-one__lineup-model-text {
		 margin-left: 84px;
	}
	 .the-one__lineup-model-img {
		 margin-left: 50px;
		 margin-right: 33px;
	}
	 .the-one__lineup-model-products {
		 gap: 70px;
	}
	 .the-one__lineup-model-product-title {
		 display: none;
		 visibility: hidden;
		 opacity: 0;
	}
	 .the-one__lineup-model-expanded .slick-count--pc {
		 display: none;
		 visibility: hidden;
		 opacity: 0;
	}
}
 @media screen and (max-width: 1023px) {
	 .the-one__lineup-model-expanded .slick-navs--pc {
		 display: none;
		 visibility: hidden;
		 opacity: 0;
	}
	 .the-one__lineup-model-expanded .slick-navs-count--pc {
		 display: none;
		 visibility: hidden;
		 opacity: 0;
	}
}
 @media screen and (min-width: 768px) {
	 .the-one__lineup-model-top {
		 margin-block: 0 calc(193px / 2);
		 display: grid;
	}
	 .the-one__lineup-model-title--sp {
		 display: none;
		 visibility: hidden;
		 opacity: 0;
	}
	 .the-one__lineup-model-title--pc {
		 font-size: calc(36px / 2);
		 letter-spacing: calc(1.8px / 2);
		 margin-bottom: calc(40px / 2);
	}
	 .the-one__lineup-model-product {
		 max-width: calc(492px / 2);
	}
	 .the-one__lineup-model-product-top {
		 position: relative;
	}
	 .the-one__lineup-model-product-top::before {
		 content: '';
		 position: absolute;
		 inset: 20px;
		 border: 1px solid transparent;
		 transition: all 0.3s ease;
	}
	 .the-one__lineup-model-product-title {
		 position: absolute;
		 top: 0;
		 right: calc(100% + 20px);
		 z-index: 1;
		 display: flex;
		 align-items: center;
		 gap: 10px;
		 font: 300 14px/16px Helvetica, sans-serif;
		 letter-spacing: 0.7px;
		 writing-mode: vertical-lr;
	}
	 .the-one__lineup-model-product-title::before {
		 content: '';
		 display: flex;
		 width: 8px;
		 height: 8px;
		 border-radius: 10rem;
		 background-color: #000;
	}
	 .the-one__lineup-model-product:hover .the-one__lineup-model-product-top::before {
		 inset: 23px;
		 border-color: #000;
	}
	 .the-one__lineup-model-product--OH2001B-5A {
		 margin-inline: auto 50%;
	}
	 .the-one__lineup-model-product--OH2001B-5A .the-one__lineup-model-number {
		 inset: calc(100% + 15px) 0 auto auto;
	}
	 .the-one__lineup-model-product--OH2001B-5A .the-one__lineup-model-info {
		 margin-left: 0;
	}
	 .the-one__lineup-model-product--OH2002B-5A {
		 margin-top: calc(-271px / 2);
		 margin-inline: calc(50% + (120px / 2)) auto;
	}
	 .the-one__lineup-model-product--OH2002B-5A .the-one__lineup-model-number {
		 left: auto;
		 right: 0;
	}
	 .the-one__lineup-model-product--OH2002B-5A .the-one__lineup-model-info {
		 position: absolute;
		 right: calc(100% + 20px);
		 bottom: 0;
		 margin-right: 0;
	}
	 .the-one__lineup-model-product--OH1003S-5A {
		 margin-inline: calc(50% - (66px / 2)) auto;
	}
	 .the-one__lineup-model-product--OH1004S-5A {
		 margin-top: calc(98px / 2);
		 margin-inline: auto calc(50% - (36px / 2));
	}
	 .the-one__lineup-model-product--OH1004S-5A .the-one__lineup-model-number {
		 top: calc(100% + 15px);
		 left: auto;
		 right: 0;
		 bottom: auto;
	}
	 .the-one__lineup-model-product--OH1004S-5A .the-one__lineup-model-info {
		 position: absolute;
		 top: calc(126px / 2);
		 left: calc(100% + 20px);
		 margin-left: 0;
	}
	 .the-one__lineup-model-text-container {
		 max-width: 492px;
	}
	 .the-one__lineup-model--acetate-frames .the-one__lineup-model-top {
		 grid-template-columns: 1fr calc(50% - (150px / 2));
		 align-items: flex-end;
		 gap: calc(95px / 2);
		 margin-inline: auto -20px;
		 max-width: 1157px;
	}
	 .the-one__lineup-model--acetate-frames .the-one__lineup-model-img {
		 margin-bottom: calc(37px / 2);
	}
	 .the-one__lineup-model--acetate-frames .the-one__lineup-model-text-container {
		 order: -1;
	}
	 .the-one__lineup-model--metalic-frames .the-one__lineup-model-top {
		 grid-template-columns: calc(50% - (40px / 2)) 1fr;
		 gap: calc(130px / 2);
		 max-width: 1192px;
	}
	 .the-one__lineup-model--metalic-frames .the-one__lineup-model-img {
		 margin-top: calc(60px / 2);
	}
}
 @media screen and (min-width: 1024px) {
	 .the-one__lineup {
		 padding-block: 150px 280px;
	}
	 .the-one__lineup-title {
		 font-size: 50px;
		 letter-spacing: 2.5px;
		 margin-bottom: 70px;
	}
	 .the-one__lineup-models {
		 gap: 286px;
	}
	 .the-one__lineup-model-title {
		 font-size: 36px;
		 letter-spacing: 1.8px;
		 margin-bottom: 40px;
	}
	 .the-one__lineup-model-text {
		 font-size: 16px;
		 letter-spacing: 0.64px;
	}
	 .the-one__lineup-model-product {
		 max-width: 492px;
		 gap: 35px;
	}
	 .the-one__lineup-model-product--OH2001B-5A .the-one__lineup-model-number {
		 top: calc(100% + 20px);
	}
	 .the-one__lineup-model-product--OH2002B-5A {
		 margin-top: -271px;
		 margin-left: calc(50% + 120px);
	}
	 .the-one__lineup-model-product--OH2002B-5A .the-one__lineup-model-number {
		 top: calc(100% + 20px);
	}
	 .the-one__lineup-model-product--OH2002B-5A .the-one__lineup-model-info {
		 right: calc(100% + 35px);
	}
	 .the-one__lineup-model-product--OH1003S-5A .the-one__lineup-model-number {
		 top: calc(100% + 20px);
	}
	 .the-one__lineup-model-product--OH1004S-5A {
		 margin-top: 98px;
	}
	 .the-one__lineup-model-product--OH1004S-5A .the-one__lineup-model-number {
		 top: calc(100% + 20px);
	}
	 .the-one__lineup-model-product--OH1004S-5A .the-one__lineup-model-info {
		 top: 126px;
		 left: calc(100% + 35px);
	}
	 .the-one__lineup-model-number {
		 font-size: 14px;
		 line-height: 16px;
	}
	 .the-one__lineup-model-code {
		 font-size: 18px;
		 line-height: 21px;
		 letter-spacing: 0.36px;
		 margin-bottom: 10px;
	}
	 .the-one__lineup-model-type {
		 font-size: 14px;
		 line-height: 16px;
		 letter-spacing: 0.28px;
		 margin-bottom: 20px;
	}
	 .the-one__lineup-model-expanded {
		 display: grid;
		 grid-template-columns: calc(50% + 95px) 1fr;
		 height: 100dvh;
		 overflow: hidden;
	}
	 .the-one__lineup-model-expanded .slick-navs {
		 left: calc(50% + 201px);
		 bottom: 72px;
		 right: auto;
	}
	 .the-one__lineup-model-expanded .slick-navs--sp {
		 display: none;
		 visibility: hidden;
		 opacity: 0;
	}
	 .the-one__lineup-model-expanded .slick-count {
		 left: calc(50% + 133px);
		 bottom: 73px;
		 right: auto;
		 font-size: 14px;
		 line-height: 16px;
	}
	 .the-one__lineup-model-expanded .slick-count--sp {
		 display: none;
		 visibility: hidden;
		 opacity: 0;
	}
	 .the-one__lineup-model-expanded-top {
		 height: 100%;
	}
	 .the-one__lineup-model-expanded-title {
		 left: 40px;
		 font-size: 16px;
		 letter-spacing: 0.7px;
		 margin-top: 50px;
	}
	 .the-one__lineup-model-expanded-close {
		 width: 25px;
		 height: 25px;
		 top: 60px;
		 right: 60px;
	}
	 .the-one__lineup-model-expanded-info {
		 padding-top: 244px;
		 padding-left: 83px;
		 gap: 54px;
	}
	 .the-one__lineup-model-expanded-info-top {
		 flex-direction: column;
		 align-items: flex-start;
		 gap: 54px;
	}
	 .the-one__lineup-model-expanded-info .the-one__btn {
		 max-width: 270px;
	}
	 .the-one__lineup-model-expanded-code {
		 font-size: 18px;
		 line-height: 21px;
		 letter-spacing: 0.36px;
		 margin-bottom: 10px;
	}
	 .the-one__lineup-model-expanded-type {
		 font-size: 14px;
		 line-height: 16px;
		 letter-spacing: 0.28px;
		 margin-bottom: 20px;
	}
	 .the-one__lineup-model-expanded-price {
		 font-size: 14px;
		 line-height: 16px;
		 letter-spacing: 0.28px;
	}
	 .the-one__lineup-model-expanded-colors {
		 flex-direction: column;
	}
	 .the-one__lineup-model-expanded-color {
		 width: auto;
		 height: 28px;
		 padding-inline: 10px;
		 justify-content: flex-start;
		 gap: 15px;
	}
	 .the-one__lineup-model-expanded-color-hex {
		 width: 10px;
		 height: 10px;
	}
	 .the-one__lineup-model-expanded-color-name {
		 display: flex;
	}
	 .the-one__lineup-model--acetate-frames .the-one__lineup-model-top {
		 grid-template-columns: 1fr 570px;
		 margin-bottom: 193px;
	}
	 .the-one__lineup-model--acetate-frames .the-one__lineup-model-img {
		 margin-bottom: 37px;
	}
	 .the-one__lineup-model--metalic-frames .the-one__lineup-model-top {
		 grid-template-columns: 570px 1fr;
		 margin-bottom: 193px;
	}
	 .the-one__lineup-model--metalic-frames .the-one__lineup-model-img {
		 margin-top: 60px;
	}
}
 @media screen and (min-width: 1440px) {
	 .the-one__lineup-title {
		 margin-left: 80px;
	}
	 .the-one__lineup-model--acetate-frames .the-one__lineup-model-top {
		 gap: 95px;
		 margin-right: -110px;
	}
	 .the-one__lineup-model--metalic-frames .the-one__lineup-model-top {
		 gap: 130px;
		 margin-left: 40px;
	}
}
 .the-one__about {
	 padding-top: 100px;
}
 .the-one__about-content {
	 background-color: #fff;
	 padding: 70px 50px 100px;
	 border-radius: 30px 30px 0 0;
	 display: flex;
	 flex-direction: column;
	 gap: 20px;
}
 .the-one__about-title {
	 font: 300 22px/150% Helvetica, sans-serif;
	 margin: 0;
}
 .the-one__about-text {
	 margin: 0;
	 font-size: 14px;
	 font-weight: 400;
	 line-height: 210%;
	 letter-spacing: 0.56px;
}
 @media screen and (max-width: 1023px) {
	 .the-one__about-content {
		 margin-inline: -20px;
	}
}
 @media screen and (min-width: 1024px) {
	 .the-one__about {
		 padding-block: 180px;
	}
	 .the-one__about-content {
		 max-width: 817px;
		 border-radius: 30px;
		 padding: 90px 100px;
		 gap: 40px;
		 margin-left: calc(50% - 262px);
	}
	 .the-one__about-title {
		 font-size: 36px;
		 letter-spacing: 0.72px;
	}
	 .the-one__about-text {
		 font-size: 16px;
		 letter-spacing: 0.64px;
		 padding-left: 125px;
	}
}
 .the-one__share {
	 position: relative;
	 z-index: 1;
	 background-color: #5d5c5c;
	 color: #fff;
	 padding: 60px 20px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 gap: 32px;
}
 .the-one__share-title {
	 margin: 0;
	 font: 300 22px/150% Helvetica, sans-serif;
	 letter-spacing: 0.88px;
}
 .the-one__share-list {
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 display: flex;
	 align-items: center;
	 gap: 28px;
}
 .the-one__share-list li {
	 display: flex;
}
 .the-one__share-list li a {
	 display: flex;
	 font-size: 34px;
	 line-height: 1;
	 color: #fff;
	 text-decoration: none;
}
 @media screen and (min-width: 1024px) {
	 .the-one__share {
		 gap: 44px;
	}
	 .the-one__share-title {
		 font-size: 32px;
		 letter-spacing: 1.28px;
	}
	 .the-one__share-list {
		 gap: 45px;
	}
	 .the-one__share-list li a {
		 font-size: 44px;
	}
}
 body:has(.the-one__lineup-model-expanded) {
	 touch-action: none;
	 overflow: hidden !important;
	 overscroll-behavior-y: none;
}
 